.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.navbarLeft {
    display: flex;
    color: white;
    align-items: center;
    gap: 1rem;
}

.navbarLeft img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.navbarLeft h1 {
    font-weight: 600;
    cursor: pointer;
    font-size: 25px;
}

.navbar button {
    background: #1F1F22;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: none;
    transition: 0.5s all ease-in-out;
}

.navbar button:hover {
    background: #3a3a43;
}


@media (max-width: 768px) {
    .navbar button{
        padding: 10px;
    }
    .navbar h1 {
        font-size: 20px;
    }

    
}

